<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678366592316-devnqehovk6q5lph4m1omtqemlvgsat5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678366592316-devnqehovk6q5lph4m1omtqemlvgsat5</string>
	<key>API_KEY</key>
	<string>AIzaSyByZADKLM-VyEi64OZtxJMtPNKbQDQ8KC0</string>
	<key>GCM_SENDER_ID</key>
	<string>678366592316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-10cf7</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-10cf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678366592316:ios:a4c6bb6bc7ffb00cbd7239</string>
</dict>
</plist>